__pycache__/
*.pyc
.pytest_cache/
.venv/
.vscode/
high_score.json

# Generated local asset pack (created by tools/generate_starter_assets.py)
assets/sprites/*.png
assets/audio/*.wav

# Misc local artifacts
nul
